:root {
  --yellow-dark: #c47f17;
  --yellow: #dbac2c;
  --yellow-light: #f1e9c9;

  --purple-dark: #4b2995;
  --purple: #8047f8;
  --purple-light: #ebe5f9;

  --base-title: #272221;
  --base-subtitle: #403937;
  --base-text: #574f4d;
  --base-label: #8d8686;
  --base-hover: #d7d5d5;

  --base-button: #e6e5e5;
  --base-input: #ededed;
  --base-card: #f3f2f2;
  --background: #fafafa;
  --white: #ffffff;

  --baloon: "Baloon 2", sans-serif;
  --roboto: "Roboto", sans-serif;

  --title-xl: 800 3rem / 1.3 var(--baloon);
  --title-l: 800 2rem / 1.3 var(--baloon);
  --title-m: 800 1.5rem / 1.3 var(--baloon);
  --title-s: 700 1.25rem / 1.3 var(--baloon);
  --title-xs: 700 1.125rem / 1.3 var(--baloon);

  --text-l: 400 1.25rem / 1.3 var(--roboto);
  --text-m: 400 1rem / 1.3 var(--roboto);
  --text-s: 400 0.875rem / 1.3 var(--roboto);
  --text-xs: 700 0.75rem / 1.3 var(--roboto);

  --tag: 700 0.625rem / 1.3 var(--roboto);
  --button-g: 700 0.875rem / 1.6 var(--roboto);
  --button-m: 400 0.75rem / 1.6 var(--roboto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  --webkit-font-smoothing: antialiased;
}

h1 {
  font: var(--title-xl);
}

h2 {
  font: var(--title-l);
}

h2 {
  font: var(--title-m);
}

p,
span,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}
